body, h1, h2, p, ul, li {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: lightgoldenrodyellow;
    line-height: 1.8;
}

.header {
    font-family: 'Georgia', sans-serif;
    background-color: seagreen;
    color:#fff;
    padding: 10px;
    text-align: center;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.header-title {
    font-size: 40px;
    margin-bottom: 40px;
}

.header-nav {
  font-style: italic;
    font-size: 20px;
    margin-top: 20px;
    border: solid;
    border-color: #fff;

}

.nav-list {
    list-style: none;
}

.nav-list li {
    display: inline;
    margin-right: 100px;
}

.nav-list a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}

.restaurant-section {
    background-color: olive	;
    margin: 20px;
    padding: 20px;
    border: 5px solid #ccc;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 50px;
}

.restaurant-section1 {
    background-color: navajowhite;
    margin: 20px;
    padding: 20px;
    border: 5px solid #ccc;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 50px;
}
.restaurant-section2 {
    background-color: lightgreen;
    margin: 20px;
    padding: 20px;
    border: 5px solid #ccc;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 50px;
}
.restaurant-section3 {
    background-color: orange	;
    margin: 20px;
    padding: 20px;
    border: 5px solid #ccc;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 50px;
}

.restaurant-title {
  text-align: center;
    font-variant: small-caps;
    font-size: 28px;
    margin-bottom: 10px;
    color: white;
}

.restaurant-description {
    text-align: center;
    font-style:oblique;
    font-family:monospace;
    color: white;
    font-size: 18px;
}

.restaurant-image {
    max-width:100%;

    display: block;
    margin: 20px auto;
    border: 1px solid ;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 50px;

}
.footer {
    text-align: center;
    padding: 10px;
    background-color: seagreen;
    color: #fff;
    box-shadow: 0px -4px 6px rgba(0, 0, 0, 0.1);
    position: fixed;
    bottom: 0;
    width:80%;
    margin-left: 10%;
    z-index: 999;
    border-radius: 50px;
}

.footer-text {
    font-size: 15px;
    text-transform: uppercase;
}
.github-link {
    display: inline-block;
    background-color: #333;
    color: #fff;
    padding: 10px 10px;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    margin-top: 20px;
    transition: background-color 0.3s ease;
}

.github-link:hover {
    background-color: #555;
}
